<header>
  <div class="top">
    <nav class="navbar navnar-expand-lg navbar-light bg-light font justify-content-space-between mb-1">
      <%# <a class="navbar-brand" href="#">hogehoge研修サイト</a> %>
      <%= link_to "muraiku研修サイト",root_path, class:'navbar-brand text-center flex-grow-1' %>
      <%= link_to "動画教材",videos_path, class:'navbar-brand text-center flex-grow-1' %>
      <%= link_to "テキスト教材",texts_path, class:'navbar-brand text-center flex-grow-1' %>
      <%= link_to "マイページ",root_path, class:'navbar-brand text-center flex-grow-1' %>
      <%= link_to "よくある質問",root_path, class:'navbar-brand text-center flex-grow-1' %>
    </nav>
  </div>
</header>
